.ayuda{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    right: 4vw;
    bottom: 5vh;
}

.icon {
    font-size: 30px;
    color: #121212;
}

.ayuda img{
    width: 30px;
    height: 30px;
    margin: 10px;
}